[Desktop Entry]
Name=WhatsApp
Exec=chromium --enable-features=VaapiVideoDecoder,VaapiVideoEncoder,UseSkiaRenderer,SkiaGraphite,Vulkan --ignore-gpu-blocklist --app=https://web.whatsapp.com
Terminal=false
Type=Application
