#include "/home/manfred/.vim/plugged/edge/xresources/edge-dark.Xresources"

*.color8:     #5b6371

Xcursor.size: 16

URxvt*font:           xft:DejaVu Sans Mono:size=9
URxvt*scrollBar:      false
URxvt*internalBorder: 21
URxvt*fading:         false
URxvt*depth:          32
URxvt*saveLines:      4000
URxvt*cursorBlink:    true

URxvt.perl-lib:        /usr/lib/urxvt/perl
URxvt*perl-ext-common: default,matcher,keyboard-select,font-size,url-select

URxvt*keyboard-select.clipboard: true
URxvt*url-launcher:              xdg-open
URxvt*matcher.button:            1
URxvt*matcher.rend.0:            Uline Bold fg5
URxvt.url-select.launcher:       xdg-open
URxvt.url-select.underline:      true

URxvt.keysym.M-K:      command:\033]720;1\007
URxvt.keysym.M-J:      command:\033]721;1\007
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-Plus:   font-size:increase
URxvt.keysym.M-Minus:  font-size:decrease
URxvt.keysym.M-0:      font-size:reset
URxvt.keysym.M-u:      perl:url-select:select_next

URxvt.iso14755:    false
URxvt.iso14755_52: false
