#include "/home/manfred/.vim/plugged/edge/xresources/edge-dark.Xresources"

*.color8:     #5b6371

Xcursor.size: 16

URxvt*font:           xft:Hack:size=9,xft:Font Awesome 5 Free:size=10:minspace=False
URxvt*letterSpace: 0

URxvt*scrollBar:       false
URxvt*internalBorder:  21
URxvt*fading:          false
URxvt*depth:           32
URxvt*saveLines:       4000
URxvt*cursorBlink:     true

! Disable the scrollback buffer for the secondary screen (eg. less)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Disable printing the terminal contents when pressing PrintScreen.
URxvt.print-pipe:      "cat > /dev/null"

URxvt.perl-lib:        /usr/lib/urxvt/perl
URxvt*perl-ext-common: default,matcher,keyboard-select,font-size,url-select

URxvt*keyboard-select.clipboard: true
URxvt*matcher.button:            1
URxvt*matcher.rend.0:            Uline Bold fg5
URxvt.url-select.launcher:       xdg-open
URxvt.url-select.underline:      true


URxvt.keysym.M-K:      command:\033]720;1\007
URxvt.keysym.M-J:      command:\033]721;1\007
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-Plus:   font-size:increase
URxvt.keysym.M-Minus:  font-size:decrease
URxvt.keysym.M-0:      font-size:reset
URxvt.keysym.M-u:      perl:url-select:select_next

URxvt.iso14755:    false
URxvt.iso14755_52: false
